html,body{
	width: 100%;
}
#container {
	white-space:nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	padding-top: 2.18em;
}


#naviCase {
	position : fixed;
	top: 0;
	right: 0;
	left: 23em;
	margin-left: 9px;
	height: 2.18em;
	background-color: #fff;
	margin: 0;
	z-index: 11;
}
ul#navi.actions.fit.small {
	position : absolute;
	left: 9px;
	right: 0;
	width: calc(100% - 9px);
}
#navi li a{
	margin: 0;
	overflow: hidden;
}
#main {
	width: 100%;
	display: inline-block;
	white-space: initial;
	vertical-align:top;
	position: relative;
}

.container {
	position: relative;
}
.closePage,
#main #hideEditPage {
	position: absolute;
	top: 0px;
	right: 30px;
	width:30px; 
	height:30px; 
}
#edit .container .closePage {
	top: 0px;
}

#header {
	z-index: 10;
}

#edit {
	position: relative;
}
.toolArea {
  position: absolute;
  overflow-x: hidden;
  right:0;
  top:6px;
  display: none;
}

.admin .toolArea {
	display: inherit;
}

.toolArea .viewToolBox {
	display: block;
}
.toolArea .editToolBox {
	display: none;
}
.toolArea.edit .viewToolBox {
	display: none;
}
.toolArea.edit .editToolBox {
	display: block;
}
#subPages .editmode {
	display: none;
}
#subPages li {
	position: relative;
	margin-bottom:10px;
}

.toolArea label.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

#subPages.edit .editmode {
	display: inherit;
	position: absolute;
	top: -15px;
	right: 10px;
	width: 30px;
	height: 30px;
}
#subPages.edit li:last-child .editmode {
	right: -15px;
}

@media screen and (max-width: 1680px) {
	#naviCase {
		left: 21em;
	}
}

@media screen and (max-width: 1280px) {
	#naviCase {
		left: 20em;
	}
}

@media screen and (max-width: 1024px) {
	#naviCase {
		top: 44px;
		left : 1px;
	}
	.toolArea {
		top: 50px;
	}
	.container .closePage {
		top: 10px;
	}
}

@media screen and (max-width: 736px) {
}

@media screen and (max-width: 480px) {
	#subPages li {
		margin-bottom:1px;
	}

	#subPages.edit .editmode {
		top: 0px;
		right: -15px;
		width: 30px;
		height: 30px;
	}
	#subPages.edit li:last-child .editmode {
		right: -15px;
	}
	#subPages.edit li:first-child .editmode {
		top: -15px;
	}

}
